<div class="height-100">
  <md-sidenav-layout class="height-100">
    <md-sidenav #start (open)="closeStartButton.focus()" class="height-100 app-sidenav">
      <md-toolbar color="primary">
        <span>{{title}}</span>
        <span class="app-toolbar-filler"></span>
        <button md-mini-fab #closeStartButton (click)="start.close()">
          <md-icon class="md-24">close</md-icon>
        </button>
      </md-toolbar>
      <md-list>
        <md-list-item> Quiz Sets </md-list-item>
        <md-list-item> Take Quiz </md-list-item>
        <md-list-item> Review Quiz </md-list-item>
      </md-list>
    </md-sidenav>

    <md-toolbar color="primary">
      <button class="app-icon-button" (click)="start.open()" aria-label="Open Menu">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>
      {{title}}
      <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <div class="app-content">
      Ng2 Quiz App
    </div>
  </md-sidenav-layout>
</div>
